.playfair-display {
    font-family: "Playfair Display", serif;/* Define a priority list of one or more main font names.*/
}

html{
    box-sizing: border-box;/* You can change how the browser calculates the dimensions of an element.*/
    background-image: url(../images/top-slide/slide-2.jpg);
}

*,
*:after,
*:before{
    box-sizing: inherit;/* Defines how the overall width and height of an element is calculated.*/
}
a{
    color:inherit;
    text-decoration: none;/* Underlining and other effects. None - removes the above effects.*/
}
ul{
    list-style-type: none;/* Allows you to make squares or circles for the ul list instead of dot markers.*/
}
.header{
    margin-bottom: 100px ;
}
.container{
    max-width: 1220px;/* Indicates that the size of the element is not fixed and takes up all the free space, but it cannot be more than 1000px in width.*/
    padding: 0 10px;/* It is the space between its content and its boundary.*/
    margin: 0 auto;
}

body{
    font-family: "Inter", sans-serif; /* Defines a prioritized list of one or more font family names*/
    font-weight: 400;/* Sets the font style.*/
    line-height: 1.4 ;/* Sets the amount of space between lines, for example in text.*/
    font-size: 14px;
    color: #1B1B1B;
}

.header__inner{
    display: flex;
    justify-content: space-between;/* Justify-conten - defines how the browser distributes space between and 
    around content elements along the main axis of a flex container, or along the inline axis of a grid container.*/
    padding-top: 30px;
}
.header__title{
    font-family: "Playfair Display", serif;
    font-size: 14px;/* Determines the font size.*/
    text-transform: uppercase;/* Stylize headings using capital letters.*/
    margin-left:auto ;/* This value tells the browser to calculate the margin size itself.*/
}

.menu{
    margin-left: 155px;
    margin-right: 140px;/* Sets the margin to the right of the element.*/ 
}
.menu__item{
    color:#1B1B1B;
    font: size 12px; /* Determines the font size.*/ 
    text-transform: uppercase; /*Stylize headings using capital letters.*/ 
    margin-bottom: 10px ; /* Sets the margin at the bottom of the element.*/
}

.user-nav{
    display: flex;
    gap: 0 20px; /*gap because we use flex the same as margin - indent 0 at the bottom and top 20 on the right and left*/
}

.top {
    margin-bottom: 100px;
}
.top-slide{

   background-size: cover;/*Allows you to set the size of the background image.*/
   background-repeat: no-repeat; /*Sets how background images will be repeated.*/
}

.top-slide__inner{
    min-height: 700px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.top-slide__content{
    flex-basis: 183px;
    margin-top: -60px;
}

.top-slide__title{
    font-family: "Playfair Display",serif;
    font-size: 70px;
    text-transform: uppercase; /*stylize headings using capital letters.*/
    font-weight: 400; /*sets the font style.*/
    line-height: 1.3; /* sets the amount of space between lines, for example in text. */
}
.top-slide__subtitle{
    font-size: 24px ;
    margin-bottom: 10px ; /*sets the margin at the bottom of the element.*/
}
.top-slide__text{
    margin-bottom: 20px ;
}
.top-slide__bth{
    color: #7449BB;
    text-transform: uppercase ;
    font-weight: 700px;
    padding: 21px 55px;
    border: 1px solid #7449BB;
    display: inline-block;
    margin-left: auto;
    transition: .3s ease;
    
}
.top-slide__bth:hover{
color:white;
background-color: #7449BB;
}
.swiper-button-prev:after,
.swiper-button-next:after{
    content: none;
}
.container-arrow{
    position: relative;
    padding: 0;
    max-width: 1200px;
}
.top .swiper{
    padding-bottom: 50px;
}
.swiper-button-next{
    left:75px;
    right: auto;
}
.adbout{
    margin-bottom: 150px;
}
.about__inner{
    padding-left: 200px;
}

.about__title{
    font-family:"Playfair Display",serif;
    font-size:32px;
    font-weight: 400;
    line-height: 1.34;
    max-width:185px;
    margin-bottom:20px;
    text-transform: uppercase;
}
.about__textbox{

}
.about__text{

}
.about__text--bold{
    
}